/* Styles for the header */
body {
    background-image: url('./desktop-wallpaper-aesthetic-purple-butterfly✨-cute-purple-butterfly.jpg');
    padding: 20px;
}
    
  
  
  h1 {
    color: rgb(42, 40, 42);
  }
  
  h3 {
    color: purple;
    margin-top: -10px;
    margin-left: 140px;
  }
  
  nav ul {
    list-style-type: none;
    margin-left:1400px;
    padding: 0;
    font-size: 24px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  nav li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  
  main {
    padding: 2px;
  }
  
  fieldset {
    margin-bottom: 20px;
    width:30%;
  }
  
  legend {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 40%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    background-color: purple;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  table {
    border-collapse: collapse;
    width: 70%;
    margin-left: 180px;
  }
  
  th,
  td {
    border: 2px solid #C4B0FF;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f9f9f9;
    
  }
  
  
  footer {
    
    padding: 20px;
   margin-top: 100px;
    
  }
 
  
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #e4405f;
    color: white;
  }




  